/* ProjectTable.css */

.project-table {
    margin-top: 20px;
}

.project-table h2 {
    margin-bottom: 10px;
}

.project-table table {
    width: 100%;
    border-collapse: collapse;
}

.project-table th, .project-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.project-table th {
    background-color: #f2f2f2;
}

.project-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.project-table tbody tr:hover {
    background-color: #ddd;
}
